html {
    font-size: 95.5%;
}

.navbar-brand {
    font-weight: 600;
    .fab {
        font-size: 1.8rem;
        font-weight: 300;
        &:hover {
            color: rgb(104, 160, 20);
        }
    }
    &:hover {
        animation: logo 1s linear infinite alternate;
        @keyframes logo {
            from {
                transform: rotate(2deg);
                color: rgb(95, 207, 50);
            }
            to {
                transform: rotate(-2deg);
                color: rgb(127, 179, 49);
            }
        }
    }
}

.nav-item {
    padding-left: 30px;
    .nav-link {
        font-size: 1.3rem;
        font-weight: 500;
    }
}