

input{
    margin: 5px;
}
 
.card-img-top{
    height: 75%;
}

.card-title{
    margin: 10px;
}

.card{
    width: 250px;
    height: 180px;
    margin: 20px;
    text-align: center;
}

.card:hover{
    cursor: pointer;
    box-shadow: 3px 3px 5px black;    
    transform: scale(1.03);
}

.card-body{
    text-align: center;
}

.section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.section-title{
    margin-top: 20px;
    margin-left:20px ;
}

#albums .card{
    width: 150px;
}

#albums .card-title{
   margin: 0px;;
}

#artists .card{
    width: 130px;
    border: white;
    
}

#artists .card:hover{  
    transform: scale(1.1);
    box-shadow: 0px 0px 0px white;
}

#artists  img{
    border-radius: 50%;

}

#recent .card{
    width: 150px;
}

#recent .card-title{
   margin: 0px;;
}

.song .card{
    
    flex-direction: row;
    height: 100px;
    width: 450px;
}

.song .card-img-top{
    width: 100px;
    height: 100%;
}

.song-container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.album-container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.album-container .card{
    width: 150px;
}

.album-container .card-title{
   margin: 0px;;
}

hr{
    color:#5fcf32;
}

footer{
    background-color: #5fcf32;
}